@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');

.App{
    min-height: 100vh;
    background-image: url("./background.png");
    background-size: cover;
    background-position: center;
    color: black;
}
#textColor{
    font-weight: bold;
    background: -webkit-linear-gradient(#f32170,
        #ff6b08,
        #cf23cf,
        #eedd44);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}